-var path = env === 'prod' ? '' : 'http://localhost:3000/'
doctype html

html
  head
    meta(charset='UTF-8')
    title Social Expert
    link(href=path + 'styles.css', rel="stylesheet")

  body
    #root
  script(src=path + 'js/app.bundle.js')
