@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

:global {
  html, body {
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
  }
  
  #root {
    height: 100%;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  // Virtual Scroll
  .Grid {
    position: relative;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
  }
  
  .Grid__innerScrollContainer {
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .Grid__cell {
    position: absolute;
  }
  
  .VirtualScroll {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
  }
  
  .VirtualScroll__innerScrollContainer {
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .VirtualScroll__row {
    position: absolute;
  }
}
